<!DOCTYPE html>
<html>
<head>
    <title>Smart Parking System</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 style="text-align:center;">🚗 Smart Parking System</h1>
    <hr>
    <div style="text-align:center;">
        <a href="/slots">Home</a> |
        <a href="/slots/new">Add Slot</a> |
        <a href="/slots/park">Park Vehicle</a> |
        <a href="/slots/remove">Remove Vehicle</a>
    </div>
    <hr>